// @use "./variables" as v;

header {
  background-image: url(/images/bg-mobile.svg);
  background-size: cover;
  margin-bottom: 8rem;

  nav {
    padding: 7.7rem 0 8rem 7.7rem;

    .nav--logo {
      transform: scale(0.7);
      margin-left: -3rem;

      @media screen and (max-width: 144rem) {
        transform: scale(1.2);
        margin-left: 4.8rem;
      }
    }
  }
  .header--image {
    transform: scale(0.8);
    display: block;
    margin-inline: auto;
  }
}
