@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// COLORS
$primary: hsl(257, 40%, 49%);
$secondary: hsl(300, 69%, 71%);

// TYPOGRAPHY
$heading-font: "Poppins", sans-serif;
$body-font: "Open Sans", sans-serif;
